#title {background-color: #ff4c68;}
h1{font-weight: bold;font-family: 'Montserrat-Black', sans-serif; font-size: 3rem; line-height: 1.5;}
.text-footer{font-family: 'Montserrat-Black'; color: #fff;}
.container-fluid{padding: 0 150px 0 150px;}
.judul{height: 450px;}
body{ font-family: 'Montserrat';}
.title-text{color:#fff;}
.navbar-brand{font-family: "Ubuntu";font-size: 2.5rem; font-weight: bold;}
.navbar{padding:0 0 4.5rem 0;}
.nav-item{padding: 0 18px 0 18px;}
.nav-link{font-size: 1.2rem; font-family: 'Monserat-light';}
.download-button{margin: 5% 3% 5% 0;}
.title-image{width: 60%; transform:rotate(25deg); position: relative; right: 28%;}
.feature-image{color: #ff4c68; font-size: 5rem;}
.feature-image:hover{color: #ef8172}
#features{text-align: center; position: relative; z-index: 1;background-color: #fff;}
.text-featuresh{font-family: 'Montserrat'; font-weight: bold;font-size: 1.5rem;}
.text-featuresp{color: #8f8f8f;}
 .fiture-box{padding: 5%;}
 #testimonials{background-color: #ff4c68; text-align: center; color: #fff; line-height: 1rem; font-weight: bold;}
 .testi-img{width: 10%; border-radius: 100%; margin: 20px;}
 #press{background-color: #ff4c68; text-align: center; padding: 0 15%;}
 .press-logo{width: 15%; margin: 20px 20px 50px;}
 h2 {font-family: "Montserrat-Black"; font-size: 3rem;}
 .carousel-item{padding:7% 15%;}
 #pricing{text-align: center; padding: 100px;}
 .pricing-column{padding: 3% 2%}
@media(max-width: 1028px){
	#title{text-align: center;}
	.title-image{transform:rotate(0deg); position: static;}
  .judul{height: auto;}}
  #cta{text-align: center; background-color: #FF4C68; padding: 20px 50px; line-height: 1rem;}
  #footer{text-align: center; background-color: #FFF;padding: 20px 50px; margin-top: 50px;}
  a{color: black;}
  .footer-link{margin: 30px 10px 30px 10px;}
  .p-footer{color: #888888; font-weight: bold;}
